{{stage('Print')}}
                    {%- set nsVariables = namespace(dimensionHistoryColumns="") -%}

 {%- set nsVariables = namespace(partition="",dimensionHistoryColumns="") -%}
    {%- set sourceTableName = node.name -%}

    {%- for i in config.partitionBy.get('items') -%}
        {%- set colName = i.partColName.name -%}
        {%- set colId = getColumnId(colName) -%}
        {%- set columnMetadata = nsSourceColumns.allSourceColumns | selectattr('id','equalto',colId) | first -%}
       
        {%- if loop.first -%}
            {%- set nsVariables.partition = get_source_transform(columnMetadata) -%}
            
        {%- else -%}
            {%- set nsVariables.partition = nsVariables.partition + ';' + get_source_transform(columnMetadata) -%}
        {%- endif -%}

    {%- endfor -%}

    {{nsVariables.partition }}

     {%set partval = nsVariables.partition %}
    {%- set partitionBy = partval.split(";") -%}
    {%- set orderBy = order_by_col() -%}

    {%- for col in partitionBy -%}
        {%- if loop.first -%}
            {%- set nsVariables.dimensionHistoryColumns = col -%}
        {%- else -%}
            {%- set nsVariables.dimensionHistoryColumns = nsVariables.dimensionHistoryColumns + ' || ' + '\'-\'' + ' ||' + col -%}
        {%- endif -%}
    {%- endfor -%}

    {%- set nsVariables.dimensionHistoryColumns = nsVariables.dimensionHistoryColumns + ' || ' + '\'-\'' + ' || date_part(epoch_milliseconds, ' + orderBy + ')' -%}

     {{nsVariables.dimensionHistoryColumns}}
   
 
